<ion-app>
  <ion-router-outlet />
  <app-host-disconnected-players />

  <ion-toast
    [isOpen]="appUpdate.updateAvailable()"
    message="Une nouvelle version de Crush Club est disponible."
    position="bottom"
    [buttons]="updateToastButtons"
    (didDismiss)="appUpdate.dismissUpdateToast()"
  />

  <ion-toast
    [isOpen]="!!gameState.errorMessage()"
    [message]="gameState.errorMessage() ?? ''"
    color="danger"
    position="top"
    [duration]="4000"
    (didDismiss)="gameState.clearError()"
  />
</ion-app>
